/*! Color Scheme 1 */
a {
  color: #66c5b6;
}

a:hover, a:focus, a:active, a:hover:active {
  color: #54bead;
}

input {
  border: 2px solid #66c5b6;
}

.color {
  background-color: #66c5b6;
}

.text-notice-line:after {
  background: #f9c80e;
}

.text-notice {
  color: #f9c80e;
}

.list li i {
  color: #f9c80e;
}

#page-preloader .path {
  stroke: #66c5b6;
}

.action-button-nav {
  color: #ffffff;
  background-color: #f9c80e;
}
.action-button-nav:hover {
  color: #ffffff;
  background-color: #f9c80e;
}
.action-button-nav:before {
  background: #e8b906;
}

.action-button-cta {
  color: #ffffff;
  background-color: #f9c80e;
}
.action-button-cta:hover {
  color: #ffffff;
  background-color: #f9c80e;
}
.action-button-cta:before {
  background: #e8b906;
}

.hero-button, .buy-button, .order-button, .submit-button {
  color: #ffffff;
  background-color: #66c5b6;
}
.hero-button:hover, .buy-button:hover, .order-button:hover, .submit-button:hover {
  color: #ffffff;
  background-color: #66c5b6;
}
.hero-button:before, .buy-button:before, .order-button:before, .submit-button:before {
  background: #54bead;
}

.header-container .header-content {
  background-color: #66c5b6;
}
.header-container .header-content .scroll-link a:after {
  background: #54bead;
}

.logo-promo-text:before {
  background: #66c5b6;
}

.navbar-default .navbar-nav > li > a:before {
  background: #f9c80e;
}
.navbar-default .navbar-nav > li.current > a:before {
  background: #f9c80e;
}

.navbar-fix .logo-promo-text:before {
  background: #f9c80e;
}

.nav-bg {
  /* background: linear-gradient(
         180deg,
         rgb(102 197 182 / 55%) 35%,
         transparent 100%
     ); */
  background: rgba(82, 91, 105, 0.7);
}

.navbar-page-top {
  background-color: #66c5b6 !important;
}
.navbar-page-top .logo-promo-text:before {
  background: #f9c80e;
}

.score-graph {
  background-color: #66c5b6;
}

.tech-block i {
  color: #f9c80e;
}

.features i {
  color: #66c5b6;
}

.gallery-img .slider .flex-direction-nav a:before {
  color: #f9c80e;
}

.product p {
  color: #c2e8e2;
}
.product .product-block .product-bg {
  background-color: #66c5b6;
}
.product .product-block .product-content .version-bg {
  color: #66c5b6;
}
.product .product-block .sale:before {
  background-color: #f9c80e;
}
.product .product-block .sale-price {
  color: #f9c80e;
}

.product-l2 .product-l2-bg .bg-img {
  background-color: #66c5b6;
}
.product-l2 .product-l2-content .product-info .sale:before {
  background-color: #f9c80e;
}
.product-l2 .product-l2-content .product-info .sale-price {
  color: #f9c80e;
}

.order .order-form-bg {
  background-color: #66c5b6;
}
.order .order-form-header .order-desc .version {
  color: #c2e8e2;
}
.order .order-form-content select {
  border: 2px solid #66c5b6;
}
.order .order-send {
  background-color: #66c5b6;
}

.video .play a, .video .play i {
  color: #66c5b6;
}
.video .play a:hover, .video .play a:active, .video .play a:focus, .video .play i:hover, .video .play i:active, .video .play i:focus {
  color: #54bead;
}

.newsletter .newsletter-notice {
  color: #c2e8e2;
}

.nf-send, .nf-success {
  background-color: #66c5b6;
}

.reviews .review:before {
  color: #66c5b6;
}

.footer .footer-social-icons li a:hover, .footer .footer-social-icons li a:active, .footer .footer-social-icons li a:focus {
  color: #54bead;
}
.footer .footer-bottom-links ul li {
  color: #66c5b6;
}

@media (max-width: 992px) {
  .logo-promo-text:before {
    background-color: #f9c80e;
  }
}
@media (max-width: 767px) {
  .header-container .header-content .scroll-link a {
    color: #66c5b6;
  }
  .header-container .header-content .scroll-link a:before {
    background-color: #66c5b6;
  }
}
@media (max-width: 510px) {
  .order .order-form-header .order-desc .version {
    color: #66c5b6;
  }
}

/*# sourceMappingURL=color-1.css.map */
