@import "./mixins";
@import "./variables";

/* 0.0 Tag/Classes Initailization */
html {
    /* HTML tag init */
    color: #fff;
    font-size: 1em;
    line-height: 1.4;
    background: #343434;
    body {
        //		white-space: nowrap;
    }
}

::-moz-selection {
    background: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li {
}
body {
    font-family: "OpenSans";
    //    background: #343434;
    background: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}
ul,
li {
    list-style: none outside none;
    margin: 0;
}
iframe {
    border: none;
}
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.pos-fix {
    position: fixed;
}
.full-width {
    width: 100%;
    max-width: 1440px;
}
.full-height {
    height: 100%;
}
.full-size {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.my-button {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1em;
    /* padding-top: 0.8rem; */
    padding-bottom: 0.8rem;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}

.center-vh {
    /*
    height: 100%;
    width: 100%; 
*/
    /* width needed for Firefox */

    /* old flexbox - Webkit and Firefox. For backwards compatibility */
    display: -webkit-box;
    display: -moz-box;
    /* middle-aged flexbox. Needed for IE 10 */
    display: -ms-flexbox;
    /* new flexbox. Chrome (prefix), Opera, upcoming browsers without */
    display: -webkit-flex;
    display: flex;

    /* old flexbox: box-* */
    -webkit-box-align: center;
    -moz-box-align: center;
    /* middle flexbox: flex-* */
    -ms-flex-align: center;
    /* new flexbox: various property names */
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.pos-top {
    top: 0;
}
.pos-left {
    left: 0;
}
.pos-right {
    right: 0;
}
.pos-bottom {
    bottom: 0;
}
.relh100 {
    position: relative;
    height: 100%;
}
/* Make page full width so reset foundation restriction on max-width*/
.row {
    /*    width: 100%;*/
    max-width: 100%;
}

ul,
li {
    list-style: none outside none;
    margin: 0;
}
a {
    color: $color1;
}
.full-width {
    width: 100%;
    max-width: 100%;

    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.fullscreen-width {
    width: 100%;
    max-width: 100%;
}
.table {
    display: table;
    height: inherit;
    margin: auto;
}
.table-cell {
    display: table-cell;
    /*    height: inherit;*/
    vertical-align: middle;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-justify {
    text-align: justify;
}
/*
.mask{
    position: relative;
}
*/

/** 0. color Color */
.mask:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: " ";
    opacity: 0.8;
    /*    z-index: 10;*/
}
.title.bg-red,
.bg-red,
.mask-red:before {
    background: #e51c23;
}

.small-col-20 {
    width: 20%;
}
.box-shadow {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
        0 2px 2px rgba(0, 0, 0, 0.2), 0 0 4px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
        0 2px 2px rgba(0, 0, 0, 0.2), 0 0 4px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
        0 2px 2px rgba(0, 0, 0, 0.2), 0 0 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
        0 2px 2px rgba(0, 0, 0, 0.2), 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

/* Viewport visibility animation  */
.hidden {
    opacity: 0;
    -webkit-transition: 0.6s;
    -ms-transition: 0.6s;
    transition: 0.6s;
}
.visible {
    opacity: 1;
    -ms-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.invisible {
    display: none !important;
}
.s-visible-medium-up {
    opacity: 0;
}
strong,
.bold {
    font-weight: bold;
}
.column,
.columns {
    padding: 0;
}
.row .row {
    margin: 0;
}

.btn-round {
    font-family: $condensed;
    font-size: 16px;
    background: $color1;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 12px 32px;
    line-height: 1;
    transition: 0.3s;
}
.btn-round:hover {
    //	background: #fff - #111;
    //	background: $color1;
    //	color: #fff;
    color: $color1;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
