/* Error: Undefined mixin.
 *   ,
 * 6 |     @include type-setting(6);
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\typography.scss 6:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 6 \2502      @include type-setting(6);\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\typography.scss 6:2  root stylesheet";
}
