*,
*:focus {
	outline: 0;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: #03000d;
}
a:hover,
a:focus {
	text-decoration: none;
}
.main {
	background: #040014 url(../img/bg.png) no-repeat center / 600px;
}
.logo {
	max-height: 140px;
}
.text-gold {
	color: #e8d380;
}
.text-red {
	color: #b81018;
}

#timer {
	font-family: "Comfortaa", cursive;
}
#timer span {
	display: block;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	margin-top: 12px;
}
input[type="email"] {
	background-color: rgba(255, 255, 255, 0.08);
	color: #e8d380;
	height: 48px;
	padding-right: 30px;
	padding-left: 30px;
	border: 0;
	border-radius: 35px;
	display: block;
	width: 100%;
}
button[type="submit"] {
	background: #2f1018;
	background: -moz-linear-gradient(left, #2f1018 0%, #b91018 100%);
	background: -webkit-linear-gradient(left, #2f1018 0%, #b91018 100%);
	background: linear-gradient(to right, #2f1018 0%, #b91018 100%);
	height: 48px;
	border-radius: 28px;
	padding: 10px 30px 10px 30px;
	transition: all 0.5s ease 0s;
	font-weight: 500;
	border: 0;
	color: #e8d380;
}
button[type="submit"]:hover {
	box-shadow: rgba(82, 78, 22, 0.57) 0px 5px 11px 0px;
}
.copyright {
	font-size: 14px;
	font-family: Roboto;
	color: rgb(124, 97, 78);
	line-height: 22px;
	font-weight: 400;
}
.social-icon {
	height: 46px;
	width: 46px;
	background-color: rgb(25, 28, 41);
	transition: all 0.4s ease;
}
.social-icon:hover {
	background-color: rgb(52, 56, 75);
}

.wrapper {
	width: 100%;
	max-width: 680px;
	padding: 0 40px;
}
.btn-menu {
	position: absolute;
	right: 30px;
	top: 30px;
	transition: all 0.4s ease;
	z-index: 9;
}

.sidebar {
	width: 0px;
	position: relative;
	align-self: flex-start;
	height: 100vh;
	margin-right: -25px;
	flex: 0 1 0%;
	transition: all 0.4s cubic-bezier(0.36, 0.55, 0.51, 0.89) 0.42s;
	background: rgb(3, 0, 13);
	overflow: hidden;
}
.sidebar .sidebar-content {
	position: relative;
	height: 100%;
	overflow-x: hidden;
	margin-right: -30px;
	padding: 90px 120px 90px 90px;
}
.sidebar-open .sidebar {
	width: 750px;
	transition-delay: 0s;
	margin-right: 0px;
	flex: 0 0 750px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: #2f1018;
	background: -moz-linear-gradient(left, #2f1018 0%, #e8d380 100%);
	background: -webkit-linear-gradient(left, #2f1018 0%, #e8d380 100%);
	background: linear-gradient(to right, #2f1018 0%, #e8d380 100%);
	transition: all 0.4s ease-in-out 0s;
}
.overlay.expand {
	transform: translateX(-100%);
	transition-delay: 0.4s;
}

.contact-icon {
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}
.phone {
	background-color: rgba(168, 107, 251, 0.15);
	color: rgb(168, 104, 251);
}
.mail {
	background-color: rgba(245, 98, 37, 0.15);
	color: rgb(245, 98, 137);
}
.address {
	background-color: rgba(56, 122, 255, 0.15);
	color: rgb(56, 122, 255);
}

@media screen and (max-width: 1600px) {
	.sidebar-open .sidebar {
		width: 550px;
		flex: 0 0 550px;
	}
}

@media screen and (max-width: 1200px) {
	.sidebar {
		position: fixed !important;
		top: 0px;
		right: 0px;
		z-index: 1;
		min-height: 100vh;
		height: fit-content;
	}
}

@media screen and (max-width: 1399px) {
	/* .main {background: #040014 url(../img/bg.png) no-repeat center / 600px;}
    .sidebar{position: fixed !important;right: 0;top: 0;bottom: 0;min-height: 100vh;} */
}

@media screen and (max-width: 767px) {
	.main {
		background: #040014 url(../img/bg.png) no-repeat center / 350px;
	}
	.display-4 {
		font-size: 2.2rem;
	}
	/* .sidebar{width:100%;position: absolute; transform: translateX(100%);} */
	.sidebar-open .sidebar {
		transform: translateX(0);
		width: 100%;
	}
	.sidebar .sidebar-content {
		padding: 20px;
		margin-right: 0;
	}
}
