.banner-carousel {
    .owl-item {
        .item {

            position: relative;
            height: 100vh;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.35);
                mix-blend-mode: darken;
            }
        }


        img {
            height: 100%;
            object-fit: cover;
        }

        .banner-details {
            position: absolute;
            right: 0;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            font-family: 'Quicksand';
            text-align: right;


            .h1 {
                font-size: clamp(1.5rem, 4vw, 3.5rem);
            }
        }

        &.active {
            .banner-details {
                .h1 {

                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    -webkit-animation-name: fadeInUp;
                    animation-name: fadeInUp;
                    -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;
                }
            }
        }
    }

}

/* animation */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
