$white: #ffffff;
$black: #000000;
$primary: #401219;
$secondary: #d0bb79;

$colors: ();
$colors: map-merge(("primary": $primary,
        "secondary": $secondary,
    ),
    $colors);

$theme-colors: ();
$theme-colors: map-merge(("primary": $primary,
    ),
    $theme-colors);

@each $color,
$value in $colors {
    .bg-#{$color} {
        background-color: $value !important;
    }
}

@each $color,
$value in $colors {
    a.text-#{$color} {
        color: $value !important;

        &:hover {
            color: lighten($color: $value, $amount: 10%) !important;
        }
    }
}

@each $color,
$value in $colors {
    .text-#{$color} {
        color: $value !important;

        &:hover {
            color: lighten($color: $value, $amount: 80%) !important;
        }
    }
}

h5,
.h5 {
    font-size: clamp(0.8rem, 2.5vw, 1.25rem);
}
