// pinal 12/03/2020
.step-form-wrap{
	overflow: hidden;
	.book-appo-wrap {
		background: #ffffff;
		border-radius: 10px;
		-webkit-box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 5%);
		box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 5%);
		&.active {
			display: block;
		}
		.owl-nav{
			width: 100%;
			align-items: center;
			display: inline-flex;
			[class*=owl-]:hover {
				background: #0000;
				color: #FFF;
				text-decoration: none;
			}
			.owl-prev,
			.owl-next{
				width: 50%;
			}
			.comman-btn {
				font-size: 18px;
				font-weight: 700;
				color: #ffffff;
				background: #401219;
				width: 96%;
				border-radius: 30px;
				height: 50px;
				border: 0;
				text-align: center;
				outline: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				line-height: 50px;
			}
		}
		.step-block {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			max-height: 420px;
			min-height: 420px;
			overflow-y: auto;
			margin-top: 30px;
			scrollbar-width: thin;
			scrollbar-color: #e6e6e6 #f7f7f7;
			.prev-next-btn{
				width: 96%;
			}
			.form-group {
				position: relative;
				margin-bottom: 25px;
				margin-right: 25px;
				label {
					margin-bottom: 0;
					width: 100%;
					border: 2px solid rgba(0, 0, 0, 0.1);
					border-radius: 30px;
					padding: 12px 25px;
					color: #1c2437;
					text-align: center;
					font-weight: 700;
					position: relative;
					-webkit-transition: all .3s ease;
					-o-transition: all .3s ease;
					transition: all .3s ease;
					&:before {
						position: absolute;
						top: 15px;
						left: 15px;
						height: 22px;
						width: 22px;
						border-radius: 50%;
						border: 2px solid rgba(0, 0, 0, 0.1);
						content: '';
						opacity: 1;
					}
					
					&:after {
						opacity: 0;
						position: absolute;
						top: 17px;
						left: 17px;
						border-radius: 50%;
						content: url(../images/check-white.svg);
					}
				}
				.form-control{
					height: 55px;
					border-radius: 30px;
					border: 1px solid rgba(0, 0, 0, 0.1);
					font-size: 1.5rem;
					font-weight: 700;
					color: #1c2437;
					outline: none;
					-webkit-box-shadow: none;
					box-shadow: none;
					padding: 0 20px;

					&[type="radio"] {
						display: none;
					}
					&[type="checkbox"] {
						display: none;
					}
					&:checked ~ label {
						border-color: rgb(64 18 25 / 20%);
						color: #401219;
					}
					&:checked ~ label:after{
						opacity: 1;
					}
					&:checked ~ label:before {
						background: #401219;
						border-color: transparent;
					}
				}
				
			}
			.comman-btn {
				font-size: 18px;
				font-weight: 700;
				color: #ffffff;
				background: #401219;
				width: 96%;
				border-radius: 30px;
				height: 50px;
				border: 0;
				text-align: center;
				margin-top: 1rem;
				outline: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				line-height: 50px;
			}
		}
		.test-progress {
			margin-bottom: 20px;
			position: relative;
		}
		.test-progress-step {
			margin: 0 auto 20px;
			position: relative;
			height: 60px;
			width: 60px;
			border: 4px solid #dbe5ef;
			border-radius: 50%;
			.step-number {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				color: #b4bfcd;
				font-size: 24px;
				font-weight: 700;
			}
			svg {
				height: 60px;
				width: 60px;
				-webkit-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
				-webkit-transform-origin: center;
				-ms-transform-origin: center;
				transform-origin: center;
				position: relative;
				top: -4px;
				left: -4px;
				circle {
					stroke: #401219;
					&.step-1{
						stroke-dasharray: 40 200;
					}
					&.step-2 {
						stroke-dasharray: 70 200;
					}
					&.step-3 {
						stroke-dasharray: 100 200;
					}
					&.step-4 {
						stroke-dasharray: 130 200;
					}
					&.step-5{
						stroke-dasharray: 160 200;
					}
					&.step-6 {
						stroke-dasharray: 200 200;
					}
				}
			}
		}
	}
}


