// pinal 12/03/2020
.car-object {
    position: absolute;
    bottom: -38%;
    left: 0;
    opacity: 0.2;
    z-index: 0;
}
.service-img-book {
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.2;
    z-index: 0;
    animation: spintire 5s linear 0s infinite;

    @keyframes spintire {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
.book-appointment-slider {
    .owl-stage-outer {
        height: 100%;
        .owl-stage {
            height: 100%;
            .owl-item {
                height: 100%;
                .item {
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.wizard-container {
    .progress {
        border-radius: 0;
        height: 0.2rem;
        font-size: 0;
        .progress-bar,
        .progress-val {
            background-color: #d0bb79;
        }
    }
    .nav-tab {
        height: 0;
        visibility: hidden;
    }
    .step-form-wrap {
        overflow: hidden;
        .tab-pane {
            height: 100%;
        }
        .book-appo-wrap {
            background: #ffffff;
            border-radius: 0;
            height: 100%;
            min-height: 65vh;
            display: flex;
            /* -webkit-box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 5%);
			box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 5%); */
            .btn-back {
                color: #d0bb79;
                padding-bottom: 25px;
                .fa {
                    color: #d0bb79;
                    font-size: 14px;
                }
            }
            .slide-right-anim {
                flex: 1;
                align-self: start;
            }
            &.active {
                display: block;
            }
            .step-block {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                // max-height: 420px;
                max-height: 500px;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: #e6e6e6 #f7f7f7;
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                &::-webkit-scrollbar-thumb {
                    background: #888;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
                .prev-next-btn {
                    width: 96%;
                }
                .form-group {
                    position: relative;
                    margin-bottom: 0.5rem;
                    margin-right: 0.5rem;
                    label {
                        font-size: 1.2rem;
                        margin-bottom: 0;
                        width: 100%;
                        display: flex;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: 30px;
                        padding: 0.3rem 0.8rem;
                        color: #1c2437;
                        text-align: center;
                        font-weight: 400;
                        position: relative;
                        -webkit-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        &:before {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            height: 22px;
                            width: 22px;
                            border-radius: 50%;
                            border: 2px solid rgba(0, 0, 0, 0.1);
                            content: "";
                            opacity: 0;
                        }

                        &:after {
                            opacity: 0;
                            position: absolute;
                            top: 17px;
                            left: 17px;
                            border-radius: 50%;
                            content: url(../images/check-white.svg);
                        }
                        &:focus,
                        &:hover {
                            background: #7f141b;
                            color: #fff;
                        }
                    }
                    .form-control {
                        height: 55px;
                        border-radius: 30px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #1c2437;
                        outline: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        padding: 0 20px;

                        &[type="radio"] {
                            display: none;
                        }
                        &[type="checkbox"] {
                            display: none;
                        }
                        &:checked ~ label {
                            border-color: rgb(64 18 25 / 20%);
                            color: #ffffff;
                            background: #7f141b;
                        }
                        &:checked ~ label:after {
                            opacity: 0;
                        }
                        &:checked ~ label:before {
                            background: #401219;
                            border-color: transparent;
                        }
                    }
                    .infoicon-i {
                        width: 18px;
                    }
                }
                .comman-btn {
                    font-size: 18px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #401219;
                    border-radius: 30px;
                    height: 50px;
                    border: 0;
                    text-align: center;
                    margin-top: 1rem;
                    outline: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    line-height: 50px;
                }
            }
        }
    }
}

.tooltip-main {
    position: relative;
    .item-img {
        position: relative;
    }
    #myModalCustom {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 99999;
        &.custom_modal_right {
            left: auto;
            right:10px;
        }
    }
    .modal_custom {
        visibility: hidden;
        opacity: 0;
        min-width: 0;
        min-height: 0;
        transition: 1s ease-in-out;
        transform: scaleX(1);
        &.open {
            visibility: visible;
            opacity: 1;
            transform: scaleX(1);
            min-width: 35vw;
            min-height: 60vh;
            left: auto;
        }
        .modal-body {
            padding: 16px 16px 0 16px;
            max-height: 58vh;
            overflow-y: scroll;
            scrollbar-width: thin;
            .btn-1 {
                padding: 0 22px;
            }
            .h6 {
                color: #878787;
                font-weight: 300;
                font-size: 14px;
                line-height: 19px;
                font-family: "SourceSansPro-Regular";
            }
            ul{
                li,.h6{
                    line-height: 24px;
                }
            }
        }
    }
}

/* ul.c-gallery li:nth-child(3) #myModalCustom{
	top: 0;
	right: 32px;
	left: auto;
}
ul.c-gallery li:nth-child(4) #myModalCustom{
	top: 0;
	right: 32px;
	left: auto;
} */
.modal-bookappointment {
    .modal-content {
        max-height: 70vh;
        overflow: hidden;
        .modal-body {
            overflow: auto;
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
            p {
                line-height: 25px;
                color: #878787;
            }
        }
    }
}

.select-category {
    position: relative;
    .form-control {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        &:checked + .card-body {
            border: 1px solid $primary;
        }
    }
    /* .card-body{
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    } */
}
@media only screen and (max-width: 992px){
    .wizard-container {
        .step-form-wrap {
            .book-appo-wrap{
                min-height: auto;
                margin-bottom: 35px;
            }
        }
    }
}