[role="button"] {
    cursor: pointer;
}
.btn {
    &.btn-primary {
        border: 1px solid $primary;
        color: $white !important;
        background-color: $primary;
        &:active,
        &:focus,
        &:hover {
            box-shadow: unset !important;
            background-color: lighten(
                $color: $primary,
                $amount: 10%
            ) !important;
        }
    }
    &.btn-secondary {
        border: 1px solid $secondary;
        color: $primary !important;
        background-color: $secondary;
        &:active,
        &:focus,
        &:hover {
            box-shadow: unset !important;
            background-color: lighten(
                $color: $secondary,
                $amount: 10%
            ) !important;
        }
    }
    &.btn-outline-primary {
        border: 1px solid $primary;
        border-color: $primary;
        color: $secondary;
        background-color: transparent;
        &.active,
        &:active,
        &:focus,
        &:hover {
            border-color: $primary !important;
            box-shadow: unset !important;
            color: $secondary !important;
            background-color: $primary !important;
        }
    }
    &.btn-outline-secondary {
        border: 1px solid $secondary;
        color: $secondary !important;
        background-color: transparent;
        &:active,
        &:focus,
        &:hover {
            box-shadow: unset !important;
            background-color: $secondary !important;
            color: $primary !important;
        }
    }
}
