.our-portfolio {
    .item {
        background-color: #f2f2f2;
        width: 100%;

        .img-container {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .owl-dots {
        .owl-dot {
            &.active {
                span {
                    background-color: $secondary;
                }
            }
        }
    }
}

#section-navbar1 {
    .header-logo {
        img {
            height: 140px;
            position: absolute;
            top: 25px;
            @media (max-width: 580px) {
                height: 80px;
                top: 10px;
            }
        }
    }

    @media (max-width: 580px) {
        .header-logo + .nav {
            align-items: center;

            .nav-link {
                padding: 0.2rem 0.2rem !important;
            }
        }
    }
}

#services-mobile {
    .tab-content {
        & > .active {
            overflow-x: auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .tp-caption {
        font-size: 20px !important;
    }
}
