.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    &.modal-dialog {
        position: fixed;
        width: 100%;
        max-width: 450px;
        min-height: 100vh;
        z-index: 9999;
        top: 0;
        right: 0;
        .modal-content {
            min-height: 100vh;
        }
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.modal-dialog {
    margin: 0;
}

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.modal-header {
    border-radius: 0;
    background-color: #f7f7f7;
    border-color: #d4d2d2;
    align-items: center;
    padding: 1.2rem;
}

.modal-content {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
}

.modal-button-container {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}
