.related-projects {
    .column-wrap {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1.5rem;
        grid-template-rows: 35vh 35vh;

        .custom-thumb-carousel {
            background-color: #f2f2f2;
            padding: 0.5rem;

            &:nth-child(1) {
                grid-row: 1 / 3;
            }

            &:nth-child(2) {
                grid-row: 1 / 2;
            }

            &:nth-child(3) {
                grid-row: 2 / 3;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        @media (max-width: 767px) {
            grid-template-columns: 100%;
            grid-template-rows: auto 1fr;

            .custom-thumb-carousel {
                &:nth-child(1) {
                    grid-row: auto;
                }

                &:nth-child(2) {
                    grid-row: auto;
                }

                &:nth-child(3) {
                    grid-row: auto;
                }
            }
        }
    }
}

#projects-carousel {
    .list-thumbnail {
        img {
            max-height: 152px;
            object-fit: contain;
            background: #f2f2f2;
        }
    }
}

#project-terms {
    .btn {
        color: $secondary;
        font-size: 1.3rem;

        &.active {
            color: $primary;
        }
    }
}

.pagination-wrap {
    .pagination {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    #project-terms {
        .btn-link {
            background-color: #D0BB79;
            color: #401219;
            padding: 0 0.5rem;
            font-size: 1.2rem;

            &.active {
                background-color: #401219;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
