.avatar {
    &-sm {
        width: 3rem;
        height: 3rem;
        margin: auto;
        overflow: hidden;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-md {
        height: 5rem;
        width: 5rem;
        margin: auto;
        overflow: hidden;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-lg {
        height: 7rem;
        width: 7rem;
        margin: auto;
        overflow: hidden;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.img-stretch {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-accordian-main {
    .service-level-1 {
        position: relative;
        z-index: 1;
        padding: 1rem;

        &::before {
            content: "";
            position: absolute;
            background: $white;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            border-bottom: 3px solid $primary;
            transition: all 0.3s ease-in-out;

            @media (max-width: 767px) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background: $primary;
            opacity: 0;
            width: 100%;
            height: 3px;
            left: 0;
            top: auto;
            bottom: 0;
            right: 0;
            z-index: -1;
            transition: all 0.3s ease-in-out;

            @media (max-width: 767px) {
                display: none;
            }
        }

        &[aria-expanded="true"],
        &.active,
        &:hover {
            color: $white;

            @media (max-width: 767px) {
                color: $black;
            }

            span,
            .btn-link,
            p {
                color: $white !important;
            }

            &::before {
                height: 0;
                top: 0;
                bottom: auto;
            }

            &::after {
                opacity: 0.75;
                height: 100%;
                top: auto;
                bottom: 0;
            }

            .service-title-wrap {
                img {
                    filter: invert(100%);
                    transition: all 0.4s ease-in-out;

                    @media (max-width: 767px) {
                        filter: invert(0%);
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
        }
    }
}

.ratio {
    position: relative;
    overflow: hidden;

    &-16X9 {
        display: block;
        content: "";
        padding-top: calc(9 / 16 * 100%);
    }

    & > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        object-fit: cover;
    }
}

.btn-service {
    position: absolute;
    top: -25px;
    right: 15px;
    padding: 5px 8px 5px 11px;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 30%);
    width: 45px;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;

    img {
        width: 30px !important;
        height: 30px;
    }

    .btn-service-text {
        white-space: nowrap;
    }

    &:focus,
    &:hover {
        width: calc(100% - 54%);

        @media screen and (max-width:389px) {
            width: calc(100% - 52%);
        }

        @media screen and (max-width:359px) {
            width: calc(100% - 44%);
        }
    }

}

.care-for-carousel {
    .item {
        /* & > .bg-white {
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 30px solid $white;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
            }
            &.collapsed {
                &::after {
                    content: none;
                }
            }
        } */
        /* .bg-white[aria-expanded="true"] {
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 30px solid $white;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
            }
        } */
    }
}

#DesignMainParent,
#folianMainParent,
#collapse1_a_parent {
    [data-parent="#folianMainParent"],
    [data-parent="#DesignMainParent"],
    [data-parent="#collapse1_a_parent"] {
        &.collapse.show {
            position: relative;

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 30px solid $white;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%) translateY(-100%);
                filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
            }
        }
    }
}

/* #section-services1 {
    .owl-item.cloned {
        pointer-events: none;
        filter: grayscale(100%) blur(5px);
    }
} */
.index {
    #services-mobile {
        .main-tabpanel-service {
            & > .nav {
                .nav-link {
                    position: relative;

                    &.active {
                        &::before {
                            content: "\f00c";
                            font-family: "FontAwesome";
                            position: absolute;
                            top: 0;
                            right: 10px;
                            z-index: 9;
                            color: green;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #7f141b;
}

@media screen and (max-width: 767px){
    #section-miscellaneous1-1{
        display: none;       
    }
}