/* .car-care-icon{
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        &.carwithhover{
            display: none;
            transition: all 1s ease-in-out;
        }
    }
    &.active,
    &:hover{
        img{
            margin: 0 auto;
            &.carwithhover{
                display: block;
            }
            &.carwithouthover{
                display: none;
            }
        }
        h4{
            color: #7f141b !important;
        }
    }
} */
.service-wrap {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 25vh;
    filter: grayscale(1);

    &.active,
    &:hover {
        filter: grayscale(0);
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: "";
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    &:hover::before {
        filter: grayscale(0);
        -webkit-animation: circleanim 0.75s;
        animation: circleanim 0.75s;
    }
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    @-webkit-keyframes circleanim {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        100% {
            width: 200%;
            height: 200%;
            opacity: 0;
        }
    }
    /* & > img {
        transition: transform 1s, filter 2s ease-in-out;
        transform: scale(1.2);
    } */
    .service-title-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        background: -moz-linear-gradient(
            top,
            rgba(255, 255, 255, 0) 0%,
            $primary 100%
        );
        background: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 0) 0%,
            $primary 100%
        );
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            $primary 100%
        );
    }
    /* &:hover {
        & > img {
            transform: scale(1);
        }
    } */
}

@keyframes serviceImage {
    0% {
        transform: scale(1.5);
        transition: all 0.3s ease;
    }
    100% {
        transform: scale(1);
        transition: all 0.3s ease;
    }
}
.service-accordian-main {
    .accordion-wrap {
        .item-img-clip {
            flex-grow: 1;
            height: 30vh;
            position: relative;
            /* border: 1px solid #1a1a1a; */
            transition: all 300ms ease-in-out;
            &.item-img-clip1 {
                background: url(../images/car-cosmetic.jpg) center left;
                height: 100%;
            }
            &.item-img-clip2 {
                background: url(../images/foil-technology.jpg) center left;
                height: 100%;
            }
            &.item-img-clip3 {
                background: url(../images/foil-technology.jpg) center left;
                height: 100%;
            }
            .service-wrap {
                height: 25vh;
            }
            .service-title-wrap {
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s ease-in-out;
            }
            &:hover {
                flex-grow: 2;
                .service-title-wrap {
                    visibility: visible;
                    opacity: 1;
                }
            }
            &:before {
                content: attr(data-order);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
            }
        }
        .list-group-item {
            &.active {
                background-color: #7f141b;
                border-color: #7f141b;
                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    right: -15px;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid #7f141b;
                    display: block;
                    width: 0;
                }
            }
        }
    }
    .service-main {
        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            img {
                border-radius: 0;
            }
        }
    }
    .service-items {
        height: 25vh;
        position: relative;
        img {
            object-fit: cover;
        }
        .service-item-text {
            position: absolute;
            bottom: auto;
            left: 0;
            right: 0;
            top: 0;
            background: -moz-linear-gradient(
                to top,
                rgba(255, 255, 255, 0) 0%,
                #401219 100%
            );
            background: -webkit-linear-gradient(
                to top,
                rgba(255, 255, 255, 0) 0%,
                #401219 100%
            );
            background: linear-gradient(
                to top,
                rgba(255, 255, 255, 0) 0%,
                #401219 100%
            );
        }
        .service-items-button {
            position: absolute;
            bottom: 10px;
            right: 30px;
        }
    }
    
}
#section-services2 {
    li {
        width: 100%;
        text-align: left;
    }
}
#service-category-2 {
    .category-collapse {
        img {
            height: 25vh;
            width: 100%;
            object-fit: cover;
        }
        /* filter: blur(0);
        &.collapsed{
            filter: blur(8px);
        } */
    }
}

#projects-carousel {
    .owl-dots {
        opacity: 0;
        visibility: hidden;
    }
}

.service-accordian-main, .tabpanel-service{
    .owl-carousel{
        .item{
            padding-bottom: 0px !important;
            &.active{
                &:after{
                   content: "";
                   position: absolute;
                   bottom: 8px;
                   width: 100%;
                   height: 3px;
                   background-color: #7f141b;
                   
                }
                &:before{
                    content: '\f0d7';
                    font-family: fontawesome;
                    position: absolute;
                    bottom: -11px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 32px;
                    line-height: 1;
                    color: #7f141b;
                }
            }
        }
        .owl-nav{
            position: absolute;
            top:50%;
            width: 100%;
            margin-top: -42px;
            .owl-next, .owl-prev{
                width: 32px;
                height: 32px;
                background-color:$secondary;
                color: $white;
                font-size: 30px;
                border-radius: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    height: 32px;
                    line-height: 26px;
                }
                &:hover{
                    background-color: $primary;
                }
                &.disabled{
                    opacity: 0;
                }
            }
            .owl-next{
                right: -20px;
                @media screen and (max-width:992px) {
                    right: -12px;
                }
            
            }
            .owl-prev{
                left: -20px;
                @media screen and (max-width:992px) {
                    left: -12px;
                }
            }
        }
    }
}