/* Error: Undefined mixin.
 *   ,
 * 1 | / @include keyframes(move-right)
 * 2 | |   {
 * 3 | |     0% {
 * 4 | |       left: -50px;
 * 5 | |     }
 * 6 | |     100% {
 * 7 | |       left: 0%;
 * 8 | |     }
 * 9 | \   }
 *   '
 *   scss\animations.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 1 \2502  \250c  @include keyframes(move-right)\a 2 \2502  \2502    {\a 3 \2502  \2502      0% {\a 4 \2502  \2502        left: -50px;\a 5 \2502  \2502      }\a 6 \2502  \2502      100% {\a 7 \2502  \2502        left: 0%;\a 8 \2502  \2502      }\a 9 \2502  \2514    }\a   \2575 \a   scss\\animations.scss 1:1  root stylesheet";
}
