@import "../mixins";
@import "../variables";

.header-top{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
//	height: auto;
	height: 0;
	z-index: 20;
	.logo-wrapper{
		position: relative;
		float: left;
		margin: 24px;
		margin-left: 16px;
		@media(min-width: 601px){
			margin-left: 48px;
		}
		.logo{
			font-family: $sans;
			font-weight: normal;
//			text-transform: uppercase;
			font-size: 14px;
			color: $white;
			transition: 0.3s;
			.title{
				border-top: 1px solid $light-gray;
				margin-top: 8px;
				padding-top: 8px;
				letter-spacing: 0px;
				display: block;
				vertical-align: middle;
				transition: 0.3s;
			}
			img{
				height: 48px;
				width: auto;
				margin: 0px;
			}	
			.logo-images{
				display: block;
				.light-logo{
					display: inline-block;
				}
				.dark-logo{
					display: none;
				}
			}
		}
	}
	
}

body.left-light{
	.header-top{
		.logo-wrapper{
			.title{
				color: $black;
				border-top-color: currentColor;
			}
		}
	}
}