@charset "UTF-8";
.bg-primary {
  background-color: #401219 !important;
}

.bg-secondary {
  background-color: #d0bb79 !important;
}

a.text-primary {
  color: #401219 !important;
}
a.text-primary:hover {
  color: #681d29 !important;
}

a.text-secondary {
  color: #d0bb79 !important;
}
a.text-secondary:hover {
  color: #ddce9f !important;
}

.text-primary {
  color: #401219 !important;
}
.text-primary:hover {
  color: #fbeff1 !important;
}

.text-secondary {
  color: #d0bb79 !important;
}
.text-secondary:hover {
  color: white !important;
}

h5,
.h5 {
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
}

[role=button] {
  cursor: pointer;
}

.btn.btn-primary {
  border: 1px solid #401219;
  color: #ffffff !important;
  background-color: #401219;
}
.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
  box-shadow: unset !important;
  background-color: #681d29 !important;
}
.btn.btn-secondary {
  border: 1px solid #d0bb79;
  color: #401219 !important;
  background-color: #d0bb79;
}
.btn.btn-secondary:active, .btn.btn-secondary:focus, .btn.btn-secondary:hover {
  box-shadow: unset !important;
  background-color: #ddce9f !important;
}
.btn.btn-outline-primary {
  border: 1px solid #401219;
  border-color: #401219;
  color: #d0bb79;
  background-color: transparent;
}
.btn.btn-outline-primary.active, .btn.btn-outline-primary:active, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:hover {
  border-color: #401219 !important;
  box-shadow: unset !important;
  color: #d0bb79 !important;
  background-color: #401219 !important;
}
.btn.btn-outline-secondary {
  border: 1px solid #d0bb79;
  color: #d0bb79 !important;
  background-color: transparent;
}
.btn.btn-outline-secondary:active, .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary:hover {
  box-shadow: unset !important;
  background-color: #d0bb79 !important;
  color: #401219 !important;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.fadeInRight.modal-dialog {
  position: fixed;
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  z-index: 9999;
  top: 0;
  right: 0;
}
.fadeInRight.modal-dialog .modal-content {
  min-height: 100vh;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.modal-dialog {
  margin: 0;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modal-header {
  border-radius: 0;
  background-color: #f7f7f7;
  border-color: #d4d2d2;
  align-items: center;
  padding: 1.2rem;
}

.modal-content {
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
  box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
  background-clip: padding-box;
}

.modal-button-container {
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

/* .car-care-icon{
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        &.carwithhover{
            display: none;
            transition: all 1s ease-in-out;
        }
    }
    &.active,
    &:hover{
        img{
            margin: 0 auto;
            &.carwithhover{
                display: block;
            }
            &.carwithouthover{
                display: none;
            }
        }
        h4{
            color: #7f141b !important;
        }
    }
} */
.service-wrap {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 25vh;
  filter: grayscale(1);
  /* & > img {
      transition: transform 1s, filter 2s ease-in-out;
      transform: scale(1.2);
  } */
  /* &:hover {
      & > img {
          transform: scale(1);
      }
  } */
}
.service-wrap.active, .service-wrap:hover {
  filter: grayscale(0);
}
.service-wrap::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.service-wrap:hover::before {
  filter: grayscale(0);
  -webkit-animation: circleanim 0.75s;
  animation: circleanim 0.75s;
}
.service-wrap img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@-webkit-keyframes circleanim {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.service-wrap .service-title-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #401219 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #401219 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #401219 100%);
}

@keyframes serviceImage {
  0% {
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  100% {
    transform: scale(1);
    transition: all 0.3s ease;
  }
}
.service-accordian-main .accordion-wrap .item-img-clip {
  flex-grow: 1;
  height: 30vh;
  position: relative;
  /* border: 1px solid #1a1a1a; */
  transition: all 300ms ease-in-out;
}
.service-accordian-main .accordion-wrap .item-img-clip.item-img-clip1 {
  background: url(../images/car-cosmetic.jpg) center left;
  height: 100%;
}
.service-accordian-main .accordion-wrap .item-img-clip.item-img-clip2 {
  background: url(../images/foil-technology.jpg) center left;
  height: 100%;
}
.service-accordian-main .accordion-wrap .item-img-clip.item-img-clip3 {
  background: url(../images/foil-technology.jpg) center left;
  height: 100%;
}
.service-accordian-main .accordion-wrap .item-img-clip .service-wrap {
  height: 25vh;
}
.service-accordian-main .accordion-wrap .item-img-clip .service-title-wrap {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.service-accordian-main .accordion-wrap .item-img-clip:hover {
  flex-grow: 2;
}
.service-accordian-main .accordion-wrap .item-img-clip:hover .service-title-wrap {
  visibility: visible;
  opacity: 1;
}
.service-accordian-main .accordion-wrap .item-img-clip:before {
  content: attr(data-order);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.service-accordian-main .accordion-wrap .list-group-item.active {
  background-color: #7f141b;
  border-color: #7f141b;
}
.service-accordian-main .accordion-wrap .list-group-item.active::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #7f141b;
  display: block;
  width: 0;
}
.service-accordian-main .service-main img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.service-accordian-main .service-main:hover img {
  border-radius: 0;
}
.service-accordian-main .service-items {
  height: 25vh;
  position: relative;
}
.service-accordian-main .service-items img {
  object-fit: cover;
}
.service-accordian-main .service-items .service-item-text {
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  background: -moz-linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #401219 100%);
  background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #401219 100%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #401219 100%);
}
.service-accordian-main .service-items .service-items-button {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

#section-services2 li {
  width: 100%;
  text-align: left;
}

#service-category-2 .category-collapse {
  /* filter: blur(0);
  &.collapsed{
      filter: blur(8px);
  } */
}
#service-category-2 .category-collapse img {
  height: 25vh;
  width: 100%;
  object-fit: cover;
}

#projects-carousel .owl-dots {
  opacity: 0;
  visibility: hidden;
}

.banner-carousel .owl-item .item {
  position: relative;
  height: 100vh;
}
.banner-carousel .owl-item .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  mix-blend-mode: darken;
}
.banner-carousel .owl-item img {
  height: 100%;
  object-fit: cover;
}
.banner-carousel .owl-item .banner-details {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-family: "Quicksand";
  text-align: right;
}
.banner-carousel .owl-item .banner-details .h1 {
  font-size: clamp(1.5rem, 4vw, 3.5rem);
}
.banner-carousel .owl-item.active .banner-details .h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* animation */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.avatar-sm {
  width: 3rem;
  height: 3rem;
  margin: auto;
  overflow: hidden;
}
.avatar-sm > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avatar-md {
  height: 5rem;
  width: 5rem;
  margin: auto;
  overflow: hidden;
}
.avatar-md > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.avatar-lg {
  height: 7rem;
  width: 7rem;
  margin: auto;
  overflow: hidden;
}
.avatar-lg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-stretch {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-accordian-main .service-level-1 {
  position: relative;
  z-index: 1;
  padding: 60px 50px 30px 50px;
}
.service-accordian-main .service-level-1::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-bottom: 3px solid #401219;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .service-accordian-main .service-level-1::before {
    display: none;
  }
}
.service-accordian-main .service-level-1::after {
  content: "";
  position: absolute;
  background: #401219;
  opacity: 0;
  width: 100%;
  height: 3px;
  left: 0;
  top: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .service-accordian-main .service-level-1::after {
    display: none;
  }
}
.service-accordian-main .service-level-1[aria-expanded=true], .service-accordian-main .service-level-1.active, .service-accordian-main .service-level-1:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .service-accordian-main .service-level-1[aria-expanded=true], .service-accordian-main .service-level-1.active, .service-accordian-main .service-level-1:hover {
    color: #000000;
  }
}
.service-accordian-main .service-level-1[aria-expanded=true] span,
.service-accordian-main .service-level-1[aria-expanded=true] .btn-link,
.service-accordian-main .service-level-1[aria-expanded=true] p, .service-accordian-main .service-level-1.active span,
.service-accordian-main .service-level-1.active .btn-link,
.service-accordian-main .service-level-1.active p, .service-accordian-main .service-level-1:hover span,
.service-accordian-main .service-level-1:hover .btn-link,
.service-accordian-main .service-level-1:hover p {
  color: #ffffff !important;
}
.service-accordian-main .service-level-1[aria-expanded=true]::before, .service-accordian-main .service-level-1.active::before, .service-accordian-main .service-level-1:hover::before {
  height: 0;
  top: 0;
  bottom: auto;
}
.service-accordian-main .service-level-1[aria-expanded=true]::after, .service-accordian-main .service-level-1.active::after, .service-accordian-main .service-level-1:hover::after {
  opacity: 0.75;
  height: 100%;
  top: auto;
  bottom: 0;
}
.service-accordian-main .service-level-1[aria-expanded=true] .service-title-wrap img, .service-accordian-main .service-level-1.active .service-title-wrap img, .service-accordian-main .service-level-1:hover .service-title-wrap img {
  filter: invert(100%);
  transition: all 0.4s ease-in-out;
}
@media (max-width: 767px) {
  .service-accordian-main .service-level-1[aria-expanded=true] .service-title-wrap img, .service-accordian-main .service-level-1.active .service-title-wrap img, .service-accordian-main .service-level-1:hover .service-title-wrap img {
    filter: invert(0%);
    transition: all 0.4s ease-in-out;
  }
}

.ratio {
  position: relative;
  overflow: hidden;
}
.ratio-16X9 {
  display: block;
  content: "";
  padding-top: calc(9 / 16 * 100%);
}
.ratio > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  object-fit: cover;
}

.btn-service {
  position: absolute;
  top: -25px;
  right: 15px;
  padding: 5px 8px;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  width: 45px;
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
}
.btn-service img {
  width: 30px !important;
  height: 30px;
}
.btn-service .btn-service-text {
  white-space: nowrap;
}
.btn-service:focus, .btn-service:hover {
  width: calc(100% - 56%);
}

.care-for-carousel .item {
  /* & > .bg-white {
      &::after {
          content: "";
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 30px solid $white;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
      }
      &.collapsed {
          &::after {
              content: none;
          }
      }
  } */
  /* .bg-white[aria-expanded="true"] {
      &::after {
          content: "";
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 30px solid $white;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
      }
  } */
}

#DesignMainParent [data-parent="#folianMainParent"].collapse.show,
#DesignMainParent [data-parent="#DesignMainParent"].collapse.show,
#DesignMainParent [data-parent="#collapse1_a_parent"].collapse.show,
#folianMainParent [data-parent="#folianMainParent"].collapse.show,
#folianMainParent [data-parent="#DesignMainParent"].collapse.show,
#folianMainParent [data-parent="#collapse1_a_parent"].collapse.show,
#collapse1_a_parent [data-parent="#folianMainParent"].collapse.show,
#collapse1_a_parent [data-parent="#DesignMainParent"].collapse.show,
#collapse1_a_parent [data-parent="#collapse1_a_parent"].collapse.show {
  position: relative;
}
#DesignMainParent [data-parent="#folianMainParent"].collapse.show::before,
#DesignMainParent [data-parent="#DesignMainParent"].collapse.show::before,
#DesignMainParent [data-parent="#collapse1_a_parent"].collapse.show::before,
#folianMainParent [data-parent="#folianMainParent"].collapse.show::before,
#folianMainParent [data-parent="#DesignMainParent"].collapse.show::before,
#folianMainParent [data-parent="#collapse1_a_parent"].collapse.show::before,
#collapse1_a_parent [data-parent="#folianMainParent"].collapse.show::before,
#collapse1_a_parent [data-parent="#DesignMainParent"].collapse.show::before,
#collapse1_a_parent [data-parent="#collapse1_a_parent"].collapse.show::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, 0.2));
}

/* #section-services1 {
    .owl-item.cloned {
        pointer-events: none;
        filter: grayscale(100%) blur(5px);
    }
} */
.index #services-mobile .main-tabpanel-service > .nav .nav-link {
  position: relative;
}
.index #services-mobile .main-tabpanel-service > .nav .nav-link.active::before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 9;
  color: green;
  font-size: 1.3rem;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #7f141b;
}

.our-portfolio .item {
  background-color: #f2f2f2;
  width: 100%;
}
.our-portfolio .item .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.our-portfolio .owl-dots .owl-dot.active span {
  background-color: #d0bb79;
}

#section-navbar1 .header-logo img {
  height: 40px;
}
@media (max-width: 580px) {
  #section-navbar1 .header-logo img {
    height: 20px;
  }
}
@media (max-width: 580px) {
  #section-navbar1 .header-logo + .nav {
    align-items: center;
  }
  #section-navbar1 .header-logo + .nav .nav-link {
    padding: 0.2rem 0.2rem !important;
  }
}

#services-mobile .tab-content > .active {
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .tp-caption {
    font-size: 20px !important;
  }
}
.related-projects .column-wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1.5rem;
  grid-template-rows: 35vh 35vh;
}
.related-projects .column-wrap .custom-thumb-carousel {
  background-color: #f2f2f2;
  padding: 0.5rem;
}
.related-projects .column-wrap .custom-thumb-carousel:nth-child(1) {
  grid-row: 1/3;
}
.related-projects .column-wrap .custom-thumb-carousel:nth-child(2) {
  grid-row: 1/2;
}
.related-projects .column-wrap .custom-thumb-carousel:nth-child(3) {
  grid-row: 2/3;
}
.related-projects .column-wrap .custom-thumb-carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .related-projects .column-wrap {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
  }
  .related-projects .column-wrap .custom-thumb-carousel:nth-child(1) {
    grid-row: auto;
  }
  .related-projects .column-wrap .custom-thumb-carousel:nth-child(2) {
    grid-row: auto;
  }
  .related-projects .column-wrap .custom-thumb-carousel:nth-child(3) {
    grid-row: auto;
  }
}

#projects-carousel .list-thumbnail img {
  max-height: 152px;
  object-fit: contain;
  background: #f2f2f2;
}

#project-terms .btn {
  color: #d0bb79;
  font-size: 1.3rem;
}
#project-terms .btn.active {
  color: #401219;
}

.pagination-wrap .pagination {
  justify-content: center;
}

@media screen and (max-width: 767px) {
  #project-terms .btn-link {
    background-color: #D0BB79;
    color: #401219;
    padding: 0 0.5rem;
    font-size: 1.2rem;
  }
  #project-terms .btn-link.active {
    background-color: #401219;
    color: #fff;
    text-decoration: none;
  }
}
.car-object {
  position: absolute;
  bottom: -38%;
  left: 0;
  opacity: 0.2;
  z-index: 0;
}

.service-img-book {
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0.2;
  z-index: 0;
  animation: spintire 5s linear 0s infinite;
}
@keyframes spintire {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.book-appointment-slider .owl-stage-outer {
  height: 100%;
}
.book-appointment-slider .owl-stage-outer .owl-stage {
  height: 100%;
}
.book-appointment-slider .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}
.book-appointment-slider .owl-stage-outer .owl-stage .owl-item .item img {
  height: 100%;
  object-fit: cover;
}

.wizard-container .progress {
  border-radius: 0;
  height: 0.2rem;
  font-size: 0;
}
.wizard-container .progress .progress-bar,
.wizard-container .progress .progress-val {
  background-color: #d0bb79;
}
.wizard-container .nav-tab {
  height: 0;
  visibility: hidden;
}
.wizard-container .step-form-wrap {
  overflow: hidden;
}
.wizard-container .step-form-wrap .tab-pane {
  height: 100%;
}
.wizard-container .step-form-wrap .book-appo-wrap {
  background: #ffffff;
  border-radius: 0;
  height: 100%;
  min-height: 65vh;
  display: flex;
  /* -webkit-box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 5%);
  box-shadow: 0px 30px 30px 0px rgb(0 0 0 / 5%); */
}
.wizard-container .step-form-wrap .book-appo-wrap .btn-back {
  color: #d0bb79;
  padding-bottom: 25px;
}
.wizard-container .step-form-wrap .book-appo-wrap .btn-back .fa {
  color: #d0bb79;
  font-size: 14px;
}
.wizard-container .step-form-wrap .book-appo-wrap .slide-right-anim {
  flex: 1;
  align-self: start;
}
.wizard-container .step-form-wrap .book-appo-wrap.active {
  display: block;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e6e6e6 #f7f7f7;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block::-webkit-scrollbar {
  width: 3px;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block::-webkit-scrollbar-thumb {
  background: #888;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .prev-next-btn {
  width: 96%;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group {
  position: relative;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group label {
  font-size: 1.2rem;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0.3rem 0.8rem;
  color: #1c2437;
  text-align: center;
  font-weight: 400;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group label:before {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  content: "";
  opacity: 0;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group label:after {
  opacity: 0;
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 50%;
  content: url(../images/check-white.svg);
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group label:focus, .wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group label:hover {
  background: #7f141b;
  color: #fff;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group .form-control {
  height: 55px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: 700;
  color: #1c2437;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 20px;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group .form-control[type=radio] {
  display: none;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group .form-control[type=checkbox] {
  display: none;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group .form-control:checked ~ label {
  border-color: rgba(64, 18, 25, 0.2);
  color: #ffffff;
  background: #7f141b;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group .form-control:checked ~ label:after {
  opacity: 0;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group .form-control:checked ~ label:before {
  background: #401219;
  border-color: transparent;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .form-group .infoicon-i {
  width: 18px;
}
.wizard-container .step-form-wrap .book-appo-wrap .step-block .comman-btn {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background: #401219;
  border-radius: 30px;
  height: 50px;
  border: 0;
  text-align: center;
  margin-top: 1rem;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 50px;
}

.tooltip-main {
  position: relative;
}
.tooltip-main .item-img {
  position: relative;
}
.tooltip-main #myModalCustom {
  position: absolute;
  top: 0;
  left: 270px;
  z-index: 99999;
}
.tooltip-main #myModalCustom.custom_modal_right {
  left: auto;
  right: 270px;
}
.tooltip-main .modal_custom {
  visibility: hidden;
  opacity: 0;
  min-width: 0;
  min-height: 0;
  transition: 1s ease-in-out;
  transform: scaleX(1);
}
.tooltip-main .modal_custom.open {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
  min-width: 35vw;
  min-height: 60vh;
  left: auto;
}
.tooltip-main .modal_custom .modal-body {
  padding: 16px 16px 0 16px;
  max-height: 58vh;
  overflow-y: scroll;
}
.tooltip-main .modal_custom .modal-body::-webkit-scrollbar {
  width: 3px;
}
.tooltip-main .modal_custom .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tooltip-main .modal_custom .modal-body::-webkit-scrollbar-thumb {
  background: #888;
}
.tooltip-main .modal_custom .modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.tooltip-main .modal_custom .modal-body .btn-1 {
  padding: 0 22px;
}
.tooltip-main .modal_custom .modal-body .h6 {
  color: #878787;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  font-family: "SourceSansPro-Regular";
}

/* ul.c-gallery li:nth-child(3) #myModalCustom{
	top: 0;
	right: 32px;
	left: auto;
}
ul.c-gallery li:nth-child(4) #myModalCustom{
	top: 0;
	right: 32px;
	left: auto;
} */
.modal-bookappointment .modal-content {
  max-height: 70vh;
  overflow: hidden;
}
.modal-bookappointment .modal-content .modal-body {
  overflow: auto;
}
.modal-bookappointment .modal-content .modal-body::-webkit-scrollbar {
  width: 3px;
}
.modal-bookappointment .modal-content .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.modal-bookappointment .modal-content .modal-body::-webkit-scrollbar-thumb {
  background: #888;
}
.modal-bookappointment .modal-content .modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.modal-bookappointment .modal-content .modal-body p {
  line-height: 25px;
  color: #878787;
}

.select-category {
  position: relative;
  /* .card-body{
      img{
          width: 100px;
          height: 100px;
          object-fit: cover;
      }
  } */
}
.select-category .form-control {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}
.select-category .form-control:checked + .card-body {
  border: 1px solid #401219;
}

@media only screen and (max-width: 992px) {
  .wizard-container .step-form-wrap .book-appo-wrap {
    min-height: auto;
    margin-bottom: 35px;
  }
}

/*# sourceMappingURL=custom.css.map */
